doctype 5
html
	head
		title Code
		link(rel="stylesheet", href="/code.css")
		link(rel="shortcut icon", href="/favicon.ico")
		meta(
			name="viewport",
			content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
		
	body
		table#layout
			tr
				td#menu
			tr
				td#content
					#tree.area
					#console.area
					#editor

		script
			var tree = '#{tree}'
		script(src="/lib.js")
		script(src="/code.js")
