doctype
html
	head
		title RadEdit - Rapid Application Development Editor
		link(rel="stylesheet", href="/site.css")
		meta(name="viewport", content="width=device-width,initial-scale=1")
	body
		#fb-root
		script
			window.fbAsyncInit=function(){FB.init({appId:432590046863159,status:!0,xfbml:!0})};(function(a,b,c){var d=a.getElementsByTagName(b)[0];a.getElementById(c)||(a=a.createElement(b),a.id=c,a.src="//connect.facebook.net/en_US/all.js",d.parentNode.insertBefore(a,d))})(document,"script","facebook-jssdk")
		#head
			.panel
				a#logo(href="/")
					img(src="/img/logo40.png")
					<span>Rad</span>Edit
		#body
			#content.panel
				block content
		#foot
			.panel
				br
				br

		script(src="/site.js")